<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slidesOps">
    <ion-slide>
      <img src="assets/img/poke.jpg" alt="PokeApi" />
      <h1><b>Bienvenido a Pokémon</b></h1>
      <h2>Vive una expriencia inolvidable</h2>
      <h3>Para poder conocer los personajes, debes de loggearte</h3>
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-button expand="full" shape="round" fill="outline" color="blue"  type="submit" (click)="finish()">Ingresar</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
